
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<div class="footer-padding"></div>
  <div class="footer">

      <div class="container-fluid1">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p class="word"> &copy; Ayush Katoch  ©  2021 Routein Relife  &copy; 5 AM STUDIOS</p>
      </div>
    
  </div>
</div>

</body>
</html>
