<%- include("partials/header") -%>

<div class="container">
  <h1>Weather App</h1>
  <form action="/" method="post">
    <input placeholder="Enter city Name" />
    <button type="submit">Explore</button>
  </form>
</div>

<%- include("partials/footer") -%>
